<header>
  <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" routerLink="/">MatchUP</a>
          <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
                  User
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <!-- <li><a class="dropdown-item" routerLink="/profile">Profile</a></li> -->
                  <!-- <li><a class="dropdown-item" (click)="logout()">Logout</a></li> -->
              </ul>
          </div>
      </div>
  </nav>
</header>

<router-outlet></router-outlet>