/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.user-profile-pic {

    width: 200px !important;
    height: 200px !important;
}

body {
    overflow-y: hidden;
}